
<!-- <div style="height:50%">
        <div class=row>
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;" onclick="function1()"></button>
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;" onclick="function2()"></button>
        <button style="background-color:black;width: 30px;height:200px;margin-left: 2px;float:left;position: absolute;left:5.5%;top:50%;" onclick="function13()"></button>
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;" onclick="function3()"></button>
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;" onclick="function4()"></button>
        <button style="background-color:black;width: 30px;height:200px;margin-left: 2px;float:left;position: absolute;left:11.5%;top:50%;" onclick="function14()"></button>
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;" onclick="function5()"></button>
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;"></button>
        <button style="background-color:black;width: 30px;height:200px;margin-left: 2px;float:left;position: absolute;left:17.5%;top:50%;" onclick="function15()"></button>
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;" onclick="function6()"></button>
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;" onclick="function7()"></button>
        <button style="background-color:black;width: 30px;height:200px;margin-left: 2px;float:left;position: absolute;left:24.1%;top:50%;" onclick="function16()"></button>
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;" onclick="function8()"></button>
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;" onclick="function9()"></button>
        <button style="background-color:black;width: 30px;height:200px;margin-left: 2px;float:left;position: absolute;left:30.1%;top:50%;" onclick="function17()"></button>
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;" onclick="function10()"></button>
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;" onclick="function11()"></button>   
        <button style="background-color:black;width: 30px;height:200px;margin-left: 2px;float:left;position: absolute;left:36.3%;top:50%;" onclick="function18()"></button>
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;" onclick="function12()"></button> 
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;" onclick="function19()"></button>
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;" onclick="function20()"></button>
        <button style="background-color:black;width: 30px;height:200px;margin-left: 2px;float:left;position: absolute;left:40.3%;top:50%;" onclick="function33()"></button>
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;" onclick="function21()"></button>
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;" onclick="function23()"></button>
        <button style="background-color:black;width: 30px;height:200px;margin-left: 2px;float:left;position: absolute;left:46.3%;top:50%;" onclick="function34()"></button>
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;" onclick="function22()"></button>
        <button style="width: 40px;height:300px;margin-left: 2px;box-shadow: 20px;float:left;"></button>
</div> -->

<div class="row">
        <button class="w5" id="c1" value="true" style="width: 45px;height:300px;background-color: white;" (click)="func1()">
                <!-- <button class="black" id="c2" style="width:30px;height:200px;background-color:black;" (click)="func2()" ></button> -->
        </button>
       
        
        <button class="w5" style="width:45px;height:300px;background-color: white;">
                <!-- <button class="black" style="width:30px;height:200px;background-color:black;"></button> -->
        </button>
        <!-- <button class="black" style="width:30px;height:200px;background-color:black;"></button> -->
        <button style="width:45px;height:300px;background-color: white;"></button>
        <button class="w5" style="width:45px;height:300px;background-color: white;">
                <!-- <button class="black" style="width:30px;height:200px;background-color:black;"></button> -->
        </button>
        <!-- <button class="black" style="width:30px;height:200px;background-color:black;"></button> -->
        <button class="w5" style="width:45px;height:300px;background-color: white;">
        <!-- <button class="black" style="width:30px;height:200px;background-color:black;"></button> -->
        </button>
       
        <button class="w5" style="width:45px;height:300px;background-color: white;">
                <!-- <button class="black" style="width:30px;height:200px;background-color:black;"></button>-->
                </button> 
      
        <button style="width:45px;height:300px;background-color: white;"></button>
        <button class="w5" style="width:45px;height:300px;background-color: white;">
                <!-- <button class="black" style="width:30px;height:200px;background-color:black;"></button> -->
        </button>
        
        <button class="w5" style="width:45px;height:300px;background-color: white;">
                <!-- <button class="black" style="width:30px;height:200px;background-color:black;"></button> -->
        </button>
       
        <button style="width:45px;height:300px;background-color: white;"></button>
        <button class="w5" style="width:45px;height:300px;background-color: white;">
                <!-- <button class="black" style="width:30px;height:200px;background-color:black;"></button> -->
        </button>
       
        <button class="w5" style="width:45px;height:300px;background-color: white;">
                <!-- <button class="black" style="width:30px;height:200px;background-color:black;"></button> -->
        </button>
        <!-- </button> -->

        <button class="w5" style="width:45px;height:300px;background-color: white;">
                <button class="black" style="width:30px;height:200px;background-color:black;"></button></button>
        <button class="w5" style="width:45px;height:300px;background-color: white;"></button>
        <!--<button style="width:45px;height:300px;background-color: white;"></button> -->
        <button class="w5" style="width:45px;height:300px;background-color: white;">
                 <button class="black" style="width:30px;height:200px;background-color:black;"></button></button>
        <button class="w5" style="width:45px;height:300px;background-color: white;">
                <button class="black" style="width:30px;height:200px;background-color:black;"></button></button>
        <button style="width:45px;height:300px;background-color: white;"></button>
        <button class="w5" style="width:45px;height:300px;background-color: white;">
                <button class="black" style="width:30px;height:200px;background-color:black;"></button></button>
        <button class="w5" style="width:45px;height:300px;background-color: white;">
                <button class="black" style="width:30px;height:200px;background-color:black;"></button></button>
        <button class="w5" style="width:45px;height:300px;background-color: white;">
                <button class="black" style="width:30px;height:200px;background-color:black;"></button></button>
        <button style="width:45px;height:300px;background-color: white;"></button>
        <button style="width:45px;height:300px;background-color: white;"></button> 

        <button class="black1" id="c2" style="width:30px;height:200px;background-color:black;" (click)="func2()" ></button>
        <button class="black2" style="width:30px;height:200px;background-color:black;"></button>
        <button class="black" style="width:30px;height:200px;background-color:black;"></button>
        <button class="black" style="width:30px;height:200px;background-color:black;"></button>
        <button class="black" style="width:30px;height:200px;background-color:black;"></button>
        <button class="black" style="width:30px;height:200px;background-color:black;"></button>
        <button class="black" style="width:30px;height:200px;background-color:black;"></button>
        <button class="black" style="width:30px;height:200px;background-color:black;"></button>
        <button class="black" style="width:30px;height:200px;background-color:black;"></button>
   <!-- <div class="black">
        <button style="width:30px;height:200px;background-color:black;"></button>
        <button style="width:30px;height:200px;background-color:black;"></button>
        <button style="width:30px;height:200px;background-color:black;"></button>
        </div>  -->
<!-- 
        <button style="width:40px;height:300px;background-color: white;"></button>
        <button style="width:40px;height:300px;background-color: white;"></button> -->
        <!-- <div class="black">
        <button style="width:30px;height:200px;background-color:black;"></button>
        </div> -->
<!-- 
        <button style="width:40px;height:300px;background-color: white;"></button>
        <button style="width:40px;height:300px;background-color: white;"></button>
        <div class="black">
        <button style="width:30px;height:200px;background-color:black;"></button>
      
        </div> -->

</div>


<!-- <audio controls id="h_a">
<source src="../../assets/high_a.mp3" type="audio/ogg">
</audio> -->