<!-- <p>pro-details works!</p> -->
<!-- <html>
<head>

<meta charset="utf-8" />
<style>
.preview {
width:640px;
height:360px}

.thumb {
width:205px;
margin-right:3px;}

.normal {
border:3px solid #000000;}

.selected {
border:3px solid #ff0000;}
</style>
</head>
<body>
    <button (click)="teja()">vsakdh</button>
<img id="0" class="preview normal" src="" alt="preview" /><br />
<img id="1" class="thumb normal" src="../assets/pro_images/pista.jpg" alt="image1" onmouseover="preview(this)"/>
<img id="2" class="thumb normal" src="../assets/pro_images/pista.jpg" alt="image2" onmouseover="preview(this)"/>
<img id="3" class="thumb normal" src="../assets/bk_2.jpg" alt="image3" onmouseover="preview(this)"/>

</body>
</html> -->
<head>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="slider">
                include pics here
            </div> <br>
            
                <button class="bn" style="margin-left: 100px;"><i class="fa fa-shopping-cart" style="margin-right: 10px;"></i>Add to cart</button>
                
                <button class="bn" style="margin-left: 240px;"><i class='fa fa-tags' style="margin-right: 10px;"></i>Buy now</button>
                  
                
             
        </div>
        <div class="col-sm-6" style="overflow: auto; height: 500px;">
            <div class="pos">
            <div class="dls">
                <h3 style="display: inline;">Product name</h3><button style="display: inline;margin-left: 400px;">share<i class="fa fa-share" style="margin-left: 5px;"></i></button>
                <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:2px;border:none ;font-size: medium;color:white;">4.3<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button>(120)</p>

                 <p>100 Items in stock</p>
                 <h3 style="display: inline;padding-right: 10px;"><i class="fa fa-rupee"></i>150</h3>
                 <h5 style="display: inline;"><del><i class="fa fa-rupee"></i>200</del>10% off</h5>
                <h4>Quantity : 1Kg</h4>
              <!-- <button>More Details</button> -->
              <br>

            <div class="row">
                <div class="col-sm-3">
              <h3 style="display: inline;">Highlights : </h3>
                </div>
                <div class="col-sm-9">
              <p style="display: inline;">
                <li>purely organic</li>
                <li>best seller</li>
                  <li>after chunk asset optimization SourceMapDevToolPlugin main 93% after chunk asset optimization SourceMapDevToolPlugin reso93% after chunk asset optimization SourceMapDevToolPlugin main  </li>
              </p>
                </div>
            </div>
                <br>
            <div class="row">
                <div class="col-sm-3">
              <h3 style="display: inline;">Seller : </h3>
                </div>
                <div class="col-sm-9">
             <p>ch.Srinivasa rao,tadepalligudem</p>
                </div>
            </div><br>

            <div class="row">
                <div class="col-sm-3">
              <h3 style="display: inline;">Description : </h3>
                </div>
                <div class="col-sm-9">
             <p>after chunk asset optimization SourceMapDevToolPlugin main 93% after chunk asset optimization SourceMapDevToolPlugin reso93% after chunk asset optimization SourceMapDevToolPlugin main</p>
                </div>
            </div><br>

            <div class="row">
                <div class="col-sm-3">
              <h3 style="display: inline;">Available Services : </h3>
                </div>
                <div class="col-sm-9">
             <li>Seller info is available</li>
             <li>Cash on delivery</li>
             <li>Store info</li>
                </div>
            </div><br>

            <div class="row">
                <div class="col-sm-3">
                     <h3 style="display: inline;">Rating & Reviews : </h3>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-3">
                            <h2 style="display: inline;">4.3</h2><i class="fa fa-star" style="margin-left:10px" font-size="15px"></i>

                            <p>113 Ratings &<br>
                            56 Reviews</p>
                        </div>

                        <div class="col-sm-9">
                        <div class="row">

                        <div class="col-sm-2">
                            <p style="float: right;">5<i class="fa fa-star"  font-size="15px"></i></p>
                        </div>
                        <div class="col-sm-10">    
                            
                            <div class="progress" style="height: 5px;">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" style="width:80%; ">
                                
                                </div>
                              </div>
                        </div>      
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <p style="float: right;">4<i class="fa fa-star"  font-size="15px"></i></p>
                            </div>
                            <div class="col-sm-10">    
                                
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30"
                                    aria-valuemin="0" aria-valuemax="100" style="width:60%; ">
                                    
                                    </div>
                                  </div>
                            </div>      
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <p style="float: right;">3<i class="fa fa-star"  font-size="15px"></i></p>
                            </div>
                            <div class="col-sm-10">    
                                
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="5"
                                    aria-valuemin="0" aria-valuemax="100" style="width:25%; ">
                                    
                                    </div>
                                  </div>
                            </div>      
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <p style="float: right;">2<i class="fa fa-star"  font-size="15px"></i></p>
                            </div>
                            <div class="col-sm-10">    
                                
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="3"
                                    aria-valuemin="0" aria-valuemax="100" style="width:3%; ">
                                    
                                    </div>
                                  </div>
                            </div>      
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <p style="float: right;">1<i class="fa fa-star"  font-size="15px"></i></p>
                            </div>
                            <div class="col-sm-10">    
                                
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1"
                                        aria-valuemin="0" aria-valuemax="100" style="width:1%; ">
                                    
                                    </div>
                                </div>
                            </div>      
                        </div>

                    </div>
                </div>
             
            </div>
            
        </div>

        <!-- Reviews -->
        <div class="card_review">
        <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:2px;border: none;font-size: medium;color:white; margin-right: 10px;">4.3<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button><b>Very good</b>
            <p>In this price its a good deal. There need to be some improvement though. Color is so bright but it doesnt lasts. Over all satisfied with the product in the price. If u have a big budget then go for the higher prices fabrics.</p>
        </div>
        <div class="card_review">
            <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:2px;border: none;font-size: medium;color:white; margin-right: 10px;">4.5<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button><b>Worth for money</b>
                <p>In this price its a good deal. There need to be some improvement though. Color is so bright but it doesnt lasts. Over all satisfied with the product in the price. If u have a big budget then go for the higher prices fabrics.</p>
        </div>
        <div class="card_review">
            <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:2px;border: none;font-size: medium;color:white; margin-right: 10px;">3.8<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button><b>Satisfied</b>
                <p>In this price its a good deal. There need to be some improvement though. Color is so bright but it doesnt lasts. Over all satisfied with the product in the price. If u have a big budget then go for the higher prices fabrics.</p>
        </div>
        <div class="card_review">
            <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:2px;border: none;font-size: medium;color:white; margin-right: 10px;">5<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button><b>recomended</b>
                <p>In this price its a good deal. There need to be some improvement though. Color is so bright but it doesnt lasts. Over all satisfied with the product in the price. If u have a big budget then go for the higher prices fabrics.</p>
        </div>
        <a href="#">view more</a>

        <!-- questions -->
        <h3>FAQs</h3>
        <p><b>Q : Is it 100% organic?</b></p>
        <p>A : yes</p>

        <p><b>Q : Is it 100% organic?</b></p>
        <p>A : yes</p>

        <p><b>Q : How is the quality of items?</b></p>
        <p>A : Good Quantity products</p>

        <p><b>Q : Is it 100% organic?</b></p>
        <p>A : yes</p>

        <p><b>Q : Is it 100% organic?</b></p>
        <p>A : yes</p>

        <a href="#">view more</a>
        <h3>Have any questions?</h3>
        <button>Post here</button>



            







              
              
            </div>
            </div>  
        </div>
       
    </div>


  <h2>Similar products</h2>

    <div class="row">
        <div class="col-sm-2">
            <div class="card" style="width:190px;" (click)="hi()">
                <img class="card-img-top" src="../assets/pro_images/pista.jpg" alt="Card image" style="width:100%">
                
                <div class="card-body">
                <h4 class="card-title">Badam pack of 1kg</h4>
                <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:7px;border-color: rgb(10, 150, 57) ;font-size: medium;color:white;">4.3<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button>(120)</p>

                <div class="card-text"> 
                    <h3 style="display: inline;padding-right: 10px;"><i class="fa fa-rupee"></i>150</h3>
                    <h5 style="display: inline;"><del><i class="fa fa-rupee"></i>200</del>10% off</h5>
                    
                </div>
                <br>
                <button class="btn_V" routerLink="/proDetails"><i class='fa fa-eye' style="margin-right:5px;"></i>view</button>
                <!-- <a routerLink="/proDetails" class="btn btn-primary">view</a> -->
                <button class="btn_W"><i class='fa fa-heart' style="margin-right:5px;"></i>wishlist</button>
            
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card" style="width:190px;" (click)="hi()">
                <img class="card-img-top" src="../assets/pro_images/pista.jpg" alt="Card image" style="width:100%">
                
                <div class="card-body">
                <h4 class="card-title">Badam pack of 1kg</h4>
                <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:7px;border-color: rgb(10, 150, 57) ;font-size: medium;color:white;">4.3<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button>(120)</p>

                <div class="card-text"> 
                    <h3 style="display: inline;padding-right: 10px;"><i class="fa fa-rupee"></i>150</h3>
                    <h5 style="display: inline;"><del><i class="fa fa-rupee"></i>200</del>10% off</h5>
                    
                </div>
                <br>
                <button class="btn_V" routerLink="/proDetails"><i class='fa fa-eye' style="margin-right:5px;"></i>view</button>
                <!-- <a routerLink="/proDetails" class="btn btn-primary">view</a> -->
                <button class="btn_W"><i class='fa fa-heart' style="margin-right:5px;"></i>wishlist</button>
            
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card" style="width:190px;" (click)="hi()">
                <img class="card-img-top" src="../assets/pro_images/pista.jpg" alt="Card image" style="width:100%">
                
                <div class="card-body">
                <h4 class="card-title">Badam pack of 1kg</h4>
                <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:7px;border-color: rgb(10, 150, 57) ;font-size: medium;color:white;">4.3<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button>(120)</p>

                <div class="card-text"> 
                    <h3 style="display: inline;padding-right: 10px;"><i class="fa fa-rupee"></i>150</h3>
                    <h5 style="display: inline;"><del><i class="fa fa-rupee"></i>200</del>10% off</h5>
                    
                </div>
                <br>
                <button class="btn_V" routerLink="/proDetails"><i class='fa fa-eye' style="margin-right:5px;"></i>view</button>
                <!-- <a routerLink="/proDetails" class="btn btn-primary">view</a> -->
                <button class="btn_W"><i class='fa fa-heart' style="margin-right:5px;"></i>wishlist</button>
            
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card" style="width:190px;" (click)="hi()">
                <img class="card-img-top" src="../assets/pro_images/pista.jpg" alt="Card image" style="width:100%">
                
                <div class="card-body">
                <h4 class="card-title">Badam pack of 1kg</h4>
                <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:7px;border-color: rgb(10, 150, 57) ;font-size: medium;color:white;">4.3<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button>(120)</p>

                <div class="card-text"> 
                    <h3 style="display: inline;padding-right: 10px;"><i class="fa fa-rupee"></i>150</h3>
                    <h5 style="display: inline;"><del><i class="fa fa-rupee"></i>200</del>10% off</h5>
                    
                </div>
                <br>
                <button class="btn_V" routerLink="/proDetails"><i class='fa fa-eye' style="margin-right:5px;"></i>view</button>
                <!-- <a routerLink="/proDetails" class="btn btn-primary">view</a> -->
                <button class="btn_W"><i class='fa fa-heart' style="margin-right:5px;"></i>wishlist</button>
            
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card" style="width:190px;" (click)="hi()">
                <img class="card-img-top" src="../assets/pro_images/pista.jpg" alt="Card image" style="width:100%">
                
                <div class="card-body">
                <h4 class="card-title">Badam pack of 1kg</h4>
                <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:7px;border-color: rgb(10, 150, 57) ;font-size: medium;color:white;">4.3<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button>(120)</p>

                <div class="card-text"> 
                    <h3 style="display: inline;padding-right: 10px;"><i class="fa fa-rupee"></i>150</h3>
                    <h5 style="display: inline;"><del><i class="fa fa-rupee"></i>200</del>10% off</h5>
                    
                </div>
                <br>
                <button class="btn_V" routerLink="/proDetails"><i class='fa fa-eye' style="margin-right:5px;"></i>view</button>
                <!-- <a routerLink="/proDetails" class="btn btn-primary">view</a> -->
                <button class="btn_W"><i class='fa fa-heart' style="margin-right:5px;"></i>wishlist</button>
            
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card" style="width:190px;" (click)="hi()">
                <img class="card-img-top" src="../assets/pro_images/pista.jpg" alt="Card image" style="width:100%">
                
                <div class="card-body">
                    <h4 class="card-title">Badam pack of 1kg</h4>
                    <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:7px;border-color: rgb(10, 150, 57) ;font-size: medium;color:white;">4.3<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button>(120)</p>

                    <div class="card-text"> 
                        <h3 style="display: inline;padding-right: 10px;"><i class="fa fa-rupee"></i>150</h3>
                        <h5 style="display: inline;"><del><i class="fa fa-rupee"></i>200</del>10% off</h5>
                        
                    </div>
                    <br>
                    <button class="btn_V" routerLink="/proDetails"><i class='fa fa-eye' style="margin-right:5px;"></i>view</button>
                    <!-- <a routerLink="/proDetails" class="btn btn-primary">view</a> -->
                    <button class="btn_W"><i class='fa fa-heart' style="margin-right:5px;"></i>wishlist</button>
            
                </div>
        </div>
    </div>

       



</div>
