<h3 style="color:orange;text-align: center;" >categories</h3>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" style="width:100%;background-color:rgba(144, 238, 144, 0.397); border-color:rgba(144, 238, 144, 0.397) ;" type="button" data-toggle="dropdown">Dry fruits
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">item1</a></li>
      <li><a href="#">item2</a></li>
      <li><a href="#">item3</a></li>
      <li class="divider"></li>
      <li><a href="#">more</a></li>
    </ul>
</div>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" style="width:100% ;background-color:rgba(144, 238, 144, 0.397); border-color:rgba(144, 238, 144, 0.397) ;" type="button" data-toggle="dropdown">Body care
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      <li class="divider"></li>
      <li><a href="#">more</a></li>
    </ul>
</div>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" style="width:100% ;background-color:rgba(144, 238, 144, 0.397); border-color:rgba(144, 238, 144, 0.397) ;" type="button" data-toggle="dropdown">Beverages
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      <li class="divider"></li>
      <li><a href="#">more</a></li>
    </ul>
</div>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" style="width:100% ;background-color:rgba(144, 238, 144, 0.397); border-color:rgba(144, 238, 144, 0.397) ;" type="button" data-toggle="dropdown">Vegitables & fruits
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      <li class="divider"></li>
      <li><a href="#">more</a></li>
    </ul>
</div>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" style="width:100% ;background-color:rgba(144, 238, 144, 0.397); border-color:rgba(144, 238, 144, 0.397) ;" type="button" data-toggle="dropdown">Home care
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      <li class="divider"></li>
      <li><a href="#">more</a></li>
    </ul>
</div>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" style="width:100% ;background-color:rgba(144, 238, 144, 0.397); border-color:rgba(144, 238, 144, 0.397) ;" type="button" data-toggle="dropdown">Dry fruits
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      <li class="divider"></li>
      <li><a href="#">more</a></li>
    </ul>
</div>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" style="width:100% ;background-color:rgba(144, 238, 144, 0.397); border-color:rgba(144, 238, 144, 0.397) ;" type="button" data-toggle="dropdown">Dry fruits
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      <li class="divider"></li>
      <li><a href="#">more</a></li>
    </ul>
</div>


<div class=filter>
    
    <h3 style="color:orange;text-align: center;" >Filter</h3>

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" style="width:100%;background-color:rgba(144, 238, 144, 0.397); border-color:rgba(144, 238, 144, 0.397) ;" type="button" data-toggle="dropdown">Price
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">item1</a></li>
        <li><a href="#">item2</a></li>
        <li><a href="#">item3</a></li>
        <li class="divider"></li>
        <li><a href="#">more</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" style="width:100%;background-color:rgba(144, 238, 144, 0.397); border-color:rgba(144, 238, 144, 0.397) ;" type="button" data-toggle="dropdown">Brands
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">item1</a></li>
        <li><a href="#">item2</a></li>
        <li><a href="#">item3</a></li>
        <li class="divider"></li>
        <li><a href="#">more</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" style="width:100%;background-color:rgba(144, 238, 144, 0.397); border-color:rgba(144, 238, 144, 0.397) ;" type="button" data-toggle="dropdown">Discount
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">item1</a></li>
        <li><a href="#">item2</a></li>
        <li><a href="#">item3</a></li>
        <li class="divider"></li>
        <li><a href="#">more</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" style="width:100%;background-color:rgba(144, 238, 144, 0.397); border-color:rgba(144, 238, 144, 0.397) ;" type="button" data-toggle="dropdown">rating
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">item1</a></li>
        <li><a href="#">item2</a></li>
        <li><a href="#">item3</a></li>
        <li class="divider"></li>
        <li><a href="#">more</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" style="width:100%;background-color:rgba(144, 238, 144, 0.397); border-color:rgba(144, 238, 144, 0.397) ;" type="button" data-toggle="dropdown">Place
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">item1</a></li>
        <li><a href="#">item2</a></li>
        <li><a href="#">item3</a></li>
        <li class="divider"></li>
        <li><a href="#">more</a></li>
      </ul>
    </div>


</div>


