
<head>
    
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <div class="container-fluid" >
        
        <div class="row">
            <div class="col-sm-3">
                <div class="card" style="width:250px;" (click)="hi()">
                    <img class="card-img-top" src="../assets/pro_images/pista.jpg" alt="Card image" style="width:100%">
                    
                    <div class="card-body">
                    <h4 class="card-title">Badam pack of 1kg</h4>
                    <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:2px;border:none ;font-size: medium;color:white;">4.3<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button>(120)</p>

                    <div class="card-text"> 
                        <h3 style="display: inline;padding-right: 10px;"><i class="fa fa-rupee"></i>150</h3>
                        <h5 style="display: inline;"><del><i class="fa fa-rupee"></i>200</del>10% off</h5>
                        
                    </div>
                    <br>
                    <button class="btn_V" routerLink="/proDetails"><i class='fa fa-eye' style="margin-right:5px;"></i>view</button>
                    <!-- <a routerLink="/proDetails" class="btn btn-primary">view</a> -->
                    <button class="btn_W"><i class='fa fa-heart' style="margin-right:5px;"></i>wishlist</button>
                
                    </div>
                </div>
            </div>


            <div class="col-sm-3">
                <div class="card" style="width:250px;" (click)="hi()">
                    <img class="card-img-top" src="../assets/pro_images/pista.jpg" alt="Card image" style="width:100%">
                    
                    <div class="card-body">
                    <h4 class="card-title">Pista pack of 1kg</h4>
                    <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:2px;border:none ;font-size: medium;color:white;">4.3<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button>(120)</p>

                    <div class="card-text"> 
                        <h3 style="display: inline;padding-right: 10px;"><i class="fa fa-rupee"></i>150</h3>
                        <h5 style="display: inline;"><del><i class="fa fa-rupee"></i>200</del>10% off</h5>
                        
                    </div>
                    <br>
                    <button class="btn_V"><i class='fa fa-eye' style="margin-right:5px;"></i>view</button>
                    <button class="btn_W"><i class='fa fa-heart' style="margin-right:5px;"></i>wishlist</button>
                
                    </div>
                </div>
            </div>


            <div class="col-sm-3">
                <div class="card" style="width:250px;" (click)="hi()">
                    <img class="card-img-top" src="../assets/pro_images/pista.jpg" alt="Card image" style="width:100%">
                    
                    <div class="card-body">
                    <h4 class="card-title">Badam pack of 1kg</h4>
                    <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:2px;border:none;font-size: medium;color:white;">4.3<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button>(120)</p>

                    <div class="card-text"> 
                        <h3 style="display: inline;padding-right: 10px;"><i class="fa fa-rupee"></i>150</h3>
                        <h5 style="display: inline;"><del><i class="fa fa-rupee"></i>200</del>10% off</h5>
                        
                    </div>
                    <br>
                    <button class="btn_V"><i class='fa fa-eye' style="margin-right:5px;"></i>view</button>
                    <button class="btn_W"><i class='fa fa-heart' style="margin-right:5px;"></i>wishlist</button>
                
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card" style="width:250px;" (click)="hi()">
                    <img class="card-img-top" src="../assets/pro_images/pista.jpg" alt="Card image" style="width:100%">
                    
                    <div class="card-body">
                    <h4 class="card-title">Badam pack of 1kg</h4>
                    <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:2px;border:none ;font-size: medium;color:white;">4.3<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button>(120)</p>

                    <div class="card-text"> 
                        <h3 style="display: inline;padding-right: 10px;"><i class="fa fa-rupee"></i>150</h3>
                        <h5 style="display: inline;"><del><i class="fa fa-rupee"></i>200</del>10% off</h5>
                        
                    </div>
                    <br>
                    <button class="btn_V"><i class='fa fa-eye' style="margin-right:5px;"></i>view</button>
                    <button class="btn_W"><i class='fa fa-heart' style="margin-right:5px;"></i>wishlist</button>
                
                    </div>
                </div>
                <br>
                
            </div>


        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="card" style="width:250px;" (click)="hi()">
                    <img class="card-img-top" src="../assets/pro_images/pista.jpg" alt="Card image" style="width:100%">
                    
                    <div class="card-body">
                    <h4 class="card-title">Badam pack of 1kg</h4>
                    <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:2px;border:none ;font-size: medium;color:white;">4.3<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button>(120)</p>

                    <div class="card-text"> 
                        <h3 style="display: inline;padding-right: 10px;"><i class="fa fa-rupee"></i>150</h3>
                        <h5 style="display: inline;"><del><i class="fa fa-rupee"></i>200</del>10% off</h5>
                        
                    </div>
                    <br>
                    <button class="btn_V" routerLink="/proDetails"><i class='fa fa-eye' style="margin-right:5px;"></i>view</button>
                    <!-- <a routerLink="/proDetails" class="btn btn-primary">view</a> -->
                    <button class="btn_W"><i class='fa fa-heart' style="margin-right:5px;"></i>wishlist</button>
                
                    </div>
                </div>
            </div>
   
      <!-- <div class="row"></div> -->
            <div class="col-sm-3">
                <div class="card" style="width:250px;" (click)="hi()">
                    <img class="card-img-top" src="../assets/pro_images/pista.jpg" alt="Card image" style="width:100%">
                    
                    <div class="card-body">
                    <h4 class="card-title">Pista pack of 1kg</h4>
                    <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:2px;border:none ;font-size: medium;color:white;">4.3<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button>(120)</p>

                    <div class="card-text"> 
                        <h3 style="display: inline;padding-right: 10px;"><i class="fa fa-rupee"></i>150</h3>
                        <h5 style="display: inline;"><del><i class="fa fa-rupee"></i>200</del>10% off</h5>
                        
                    </div>
                    <br>
                    <button class="btn_V"><i class='fa fa-eye' style="margin-right:5px;"></i>view</button>
                    <button class="btn_W"><i class='fa fa-heart' style="margin-right:5px;"></i>wishlist</button>
                
                    </div>
                </div>
            </div>


            <div class="col-sm-3">
                <div class="card" style="width:250px;" (click)="hi()">
                    <img class="card-img-top" src="../assets/pro_images/pista.jpg" alt="Card image" style="width:100%">
                    
                    <div class="card-body">
                    <h4 class="card-title">Badam pack of 1kg</h4>
                    <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:2px;border:none;font-size: medium;color:white;">4.3<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button>(120)</p>

                    <div class="card-text"> 
                        <h3 style="display: inline;padding-right: 10px;"><i class="fa fa-rupee"></i>150</h3>
                        <h5 style="display: inline;"><del><i class="fa fa-rupee"></i>200</del>10% off</h5>
                        
                    </div>
                    <br>
                    <button class="btn_V"><i class='fa fa-eye' style="margin-right:5px;"></i>view</button>
                    <button class="btn_W"><i class='fa fa-heart' style="margin-right:5px;"></i>wishlist</button>
                
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card" style="width:250px;" (click)="hi()">
                    <img class="card-img-top" src="../assets/pro_images/pista.jpg" alt="Card image" style="width:100%">
                    
                    <div class="card-body">
                    <h4 class="card-title">Badam pack of 1kg</h4>
                    <p><button class="button" style="background-color: rgb(10, 150, 57);border-radius:2px;border:none ;font-size: medium;color:white;">4.3<i class='fa fa-star' style="color:white;margin-left: 10px;"></i></button>(120)</p>

                    <div class="card-text"> 
                        <h3 style="display: inline;padding-right: 10px;"><i class="fa fa-rupee"></i>150</h3>
                        <h5 style="display: inline;"><del><i class="fa fa-rupee"></i>200</del>10% off</h5>
                        
                    </div>
                    <br>
                    <button class="btn_V"><i class='fa fa-eye' style="margin-right:5px;"></i>view</button>
                    <button class="btn_W"><i class='fa fa-heart' style="margin-right:5px;"></i>wishlist</button>
                
                    </div>
                </div>

</div>





